
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">Money: {{stats.money.value}}</div>
    </div>
    <h4>Upgrades</h4>
    <div ng-repeat="(upgradeKey, upgrade) in upgrades" class="row">
      <div class="col-md-12">
        <h5>{{upgrade.label}}:<small> Current Level: {{stats[upgradeKey].level}}</small></h5>
        <div ng-repeat="(levelNumber, level) in upgrade.levels" class="col-md-1">       
          <button type="button" ng-click="purchaseUpgrade(upgradeKey,levelNumber)" ng-disabled="stats.money.value &lt; level.cost || stats[upgradeKey].level &gt;= levelNumber" ng-hide="levelNumber == 0" class="btn btn-primary btn-xs">{{levelNumber}}</button>
        </div>
      </div>
    </div>
    <h4>Purchasables</h4>
    <div ng-repeat="item in purchasables" class="row">
      <div class="col-md-12">
        <h5>{{item.label}}</h5>
        <button type="button" ng-click="purchaseItem(item.stat)" ng-disabled="stats.money.value &lt; item.cost" class="btn btn-primary btn-xs">+</button>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="asteroidle-game" class="game"></div>
  </div>
</div>